div
{
  border: 1px solid black;
}

/*For global use*/
.circle-input/*input layer*/
{
  border: 1px solid light blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle-hidden/*hidden layer*/
{ 
  border: 1px solid violet;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle-output/*output layer*/
{
  border: 1px solid brown;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*End area of global use codes*/

.main
{
  display: flex;
  /*flex-direction: row;*/
  gap: 10px;
  background-color: red;
  height: auto;
}

.panel-ai, .panel-generate
{
  min-width: 250px;
  min-height: 50px;
}

.panel-ai
{
  width: 250px;
  height: 50px;
}

.neural-zone
{
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
}

.ai-pixel, .pixel-container
{
  width: 20px;
  height: 20px;
}
