div
{
  border: 1px solid black;
}

/*For global use*/
.circle
{
  border-radius: 50%;
}
/*End area of global use codes*/

.main
{
  display: flex;
  /*flex-direction: row;*/
  gap: 10px;
  background-color: red;
  height: auto;
}

.panel-ai, .panel-generate
{
  min-width: 250px;
  min-height: 50px;
}

.panel-ai
{
  width: 250px;
  height: 50px;
}

.ai-pixel, .pixel-container
{
  width: 20px;
  height: 20px;
}
